

{% extends 'base.html.twig' %}
    {% block body %}
    <div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">Tournoi de Foot Salle Leo Club</h1>
            <p>Jouer entre amis pour une bonne action.</p>
            <div id="date-countdown"></div>
            <p>
              <a href="{{path('app_join')}}" class="btn btn-primary py-3 px-4 mr-3">{{ app.user is defined and app.user != null ? 'Ma réservation' : "Inscris ton équipe !" }}</a>
              <a href="#about-leo" class="more light">En savoir plus</a>
            </p>  
          </div>
        </div>
      </div>
    </div>

    
    
    <!--<div class="container">
      

      <div class="row">
        <div class="col-lg-12">
          
          <div class="d-flex team-vs">
            <span class="score">4-1</span>
            <div class="team-1 w-50">
              <div class="team-details w-100 text-center">
                <img src="images/logo_1.png" alt="Image" class="img-fluid">
                <h3>LA LEGA <span>(win)</span></h3>
                <ul class="list-unstyled">
                  <li>Anja Landry (7)</li>
                  <li>Eadie Salinas (12)</li>
                  <li>Ashton Allen (10)</li>
                  <li>Baxter Metcalfe (5)</li>
                </ul>
              </div>
            </div>
            <div class="team-2 w-50">
              <div class="team-details w-100 text-center">
                <img src="images/logo_2.png" alt="Image" class="img-fluid">
                <h3>JUVENDU <span>(loss)</span></h3>
                <ul class="list-unstyled">
                  <li>Macauly Green (3)</li>
                  <li>Arham Stark (8)</li>
                  <li>Stephan Murillo (9)</li>
                  <li>Ned Ritter (5)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  

    <div class="latest-news" id="about-leo">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Le LEO Club, c'est quoi ?</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-12 blog-content">
            <p>« Leadership, Expérience, Opportunité.»<br>
Les Leos sont les membres les plus jeunes du Lions Clubs International (18-30 ans). Nous sommes pour la plupart étudiants mais certains d’entre nous sont déjà dans la vie active. Nous nous engageons pour des causes qui nous tiennent à coeur en aidant les associations locales ou en organisant nos propres actions. </p>
            <p>Au LEO club La tour des Pins de Montpellier nous soutenons de nombreuses causes différentes comme les enfants victimes de maltraitances ou encore les personnes sans abris.</p>
            <p>« Là où il y a un besoin, il y a un LEO ».</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="widget-next-match">
              <div class="widget-title">
                <h3>Prochain rendez-vous</h3>
              </div>
              <div class="text-center widget-vs-contents mb-4 mt-5">
                <h4>Leo Club x AR Soccer</h4>
                <p class="mb-5">
                  <span class="d-block">22 avril 2023</span>
                  <span class="d-block">9h30</span>
                  <strong class="text-primary">Montpellier</strong>
                </p>

                <div id="date-countdown2" class="pb-1"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            
            <div class="widget-next-match">
              <table class="table custom-table text-center">
                <thead>
                  <tr>
                    <th>Teams</th>
                  </tr>
                </thead>
                <tbody>
                {% for key, book in books %}
                  <tr>
                    <td><strong class="text-white">{{book.teamName}}</strong></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div> <!-- .site-section -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 title-section">
            <h2 class="heading">Organisation</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-12 blog-content text-white">
            <p>
              Ce tournoi aura lieu le 22 Avril  à l’AR Soccer - Temple du Foot à Montpellier<br><br> 

              Adresse : 119 Rue de la Rauzé Basse, 34070 <br>
              Heure de RDV : 13h30 <br><br>

              <strong class="font-weight-bold">Le Déroulement :</strong><br><br>

              - 13h30 : arrivée des joueurs<br>
              - 14h : début de la compétition <br><br>

              Les 12 équipes du tournoi joueront, peu importe les résultats, 6 matchs de 15 min tout au long de l’après-midi. <br><br>

              Ces 6 matchs seront divisés sous forme de 2 tableaux de 3 poules :<br><br>

              - Le premier tableau confrontera les équipes de manière aléatoire.<br>
              - Le second tableau sera crée en fonction du classement des équipes du premier tableau.<br><br> 
              
              Le Léo Club prendra en charge l’organisation du tournoi, l’arbitrage ainsi qu’un stand pour se restaurer (gâteaux, boissons etc…).<br><br>

              Toute l’organisation du tournoi sera expliquée et precisée avant de débuter le tournoi.<br><br>

              Le tournoi se déroulera dans la convivialité et le partage afin de récolter des fonds en faveur des <span class="font-weight-bold">urgences pédiatriques du CHU Lapeyronie de Montpellier</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}